tomli==2.0.1
ed25519==1.5
protobuf==3.20.2
pyarrow==6.0.1
rai-sdk==0.6.14
requests==2.31.0
requests-toolbelt==1.0.0
urllib3==1.26.6
more-itertools==10.1.0
azure-storage-blob==12.17.0
snowflake-connector-python==3.2.0
csv-diff==1.1